* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
:root {
  --header-bg: #10375c;
}
/* ------------------------- COMMON ------------------------- */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  transition: opacity, transform 0.2s ease-out;
  font-weight: 400;
}
.btn:hover {
  transform: translateY(-10px);
  opacity: 0.8;
}
.row {
  display: flex;
}
.desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
/* ------------------------- LOADER ------------------------- */
.loader {
  background-color: rgba(0, 0, 0, 0.938);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  --size: 200px;
  --bg-color: hsla(233, 10%, 90%, 0.1);
  --line-color: #2e80ce;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
}
.spinner::after {
  content: "";
  animation: spinner 0.8s ease-out 3 backwards;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border: 20px solid var(--bg-color);
  border-radius: 50%;
  border-top-color: var(--line-color);
  box-shadow: 0 0 20px var(--bg-color);
}
@keyframes spinner {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
/* ------------------------- HEADER ------------------------- */
.header {
  background: var(--header-bg);
}
.header-top {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.action__log-in,
.navbar__link {
  color: #c9d2da;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  padding: 12px 21px;
  position: relative;
  align-items: center;
}
.action__log-in:hover,
.navbar__link.active,
.navbar__link:hover {
  color: #fff;
  text-shadow: 1px 0 currentColor;
}

.navbar__link.active::before {
  content: "";
  left: 8px;
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  top: 20px;
}
.action {
  display: flex;
  gap: 28px;
  align-items: center;
}
.action__sign-up {
  padding: 0;
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}

.section {
  margin-top: 100px;
  padding: 70px;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
/* ------------------------- HERO ------------------------- */
.hero {
  display: flex;
  gap: 113px;
  padding: 54px 0 110px;
}
.hero__content {
  width: 44.2%;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
  margin-top: 60px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.hero__row {
  align-items: center;
  margin-top: 38px;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1;
}
.hero__img--small {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 6px;
}
.hero__btn {
  transition: box-shadow, border, background-color 0.2s ease-out;
}
.hero__btn:hover {
  transform: none;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 1px 1px 5px #fff;
}
/* ------------------------- SERVICE ------------------------- */
.service {
  display: flex;
}
.service__heading {
  text-align: center;
}
.service__desc {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  margin-top: 18px;
}
.service__row {
  margin-top: 70px;
  gap: 130px;
}
.service__img {
  border-radius: 12px;
  object-fit: cover;
  width: 570px;
  height: 570px;
}
.service-list {
  margin-top: 56px;
}
.service-item {
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 20px;
  width: 470px;
  height: 128px;
  transition: transform, box-shadow 1s ease;
  border-radius: 10px;
}
.service-item:hover {
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
  cursor: pointer;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service-item__desc {
  width: 308px;
  color: #575f66;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #10375c;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  transition: color, background-color 1s ease;
}
.service-item:hover .service-item__icon {
  color: #fff;
  background-color: #2e80ce;
}
.service-btn {
  margin-top: 55px;
  transition: opacity, transform 0.2s ease-out;
}
.service-btn:hover {
  transform: translateY(-10px);
  opacity: 0.8;
}
/* ------------------------- WORK ------------------------- */
.work {
  background: #f6fbff;
  padding: 100px 0;
}
.work-desc {
  margin-top: 18px;
  width: 40%;
}
.work__list {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}
.work-item {
  border: 16px solid #eaf6ff;
  padding: 43px;
  background: #fff;
  border-radius: 4px;
}
.work-item:hover {
  border-color: #2e80ce;
  cursor: pointer;
  transform: translateY(-16px);
  transition: transform 0.5s ease-out;
}
.work-item__icon {
  width: 72px;
  height: 72px;
}
.work-item__heading {
  color: #10375c;
  margin-top: 18px;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.work-item__desc {
  color: #575f66;
  font-weight: 300;
  margin-top: 28px;
}
.work-item__more {
  margin-top: 18px;
}
.more {
  display: block;
  color: #575f66;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  transition: color, font-weight 1s ease-out;
}
.more:hover {
  color: #2e80ce;

  font-weight: 400;
  cursor: pointer;
}
/* ------------------------- ABOUT ------------------------- */
.about__row {
  gap: 188px;
}
.about__media {
  position: relative;
  padding-bottom: 121px;
}
.about__img--lg {
  object-fit: cover;
  width: 512px;
  height: 370px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}
.about__img--sm {
  position: absolute;
  left: 238px;
  top: 121px;
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}
.about__content {
  width: 40%;
}
.about__desc {
  margin-top: 18px;
  margin-bottom: 38px;
}
/* ------------------------- TEAM ------------------------- */
.team-header {
  text-align: center;
}
.team__cta {
  margin-top: 38px;
}
.team-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr; /* Chỉ có 1 hàng */
  grid-auto-rows: 0;
  gap: 30px;
  overflow: hidden;
}
.team-item {
  text-align: center;
}
.team-item__bg {
  padding-top: 28px;
  background: #eaf6ff;
  border-radius: 6px;
}
.team-item__thumb {
  display: block;
  object-fit: contain;
  width: 270px;
  height: 290px;
}
.team-item__name {
  color: #10375c;
  line-height: 1.75; /* 175% */
  margin-top: 12px;
}
.team-item__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}
.team__control {
  margin-top: 38px;
}
.control {
  display: flex;
  gap: 18px;
  justify-content: center;
}
.control__btn {
  display: flex;
  transition: color, background-color 0.5s ease;
  align-items: center;
  justify-content: center;
  color: #575f66;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid currentColor;
  background-color: #fff;
}
.control__btn:hover {
  background-color: #2e80ce;
  color: #fff;
  cursor: pointer;
}
/* ------------------------- CTA MOBILE ------------------------- */
.cta-mobile {
  border-radius: 4px;
  background: #2e80ce;
  height: 427px;
  position: relative;
}
.cta-mobile__content {
  margin-left: 514px;
  width: 42%;
}
.cta-mobile__heading,
.cta-mobile__desc {
  color: #fff;
}
.cta-mobile__desc {
  margin-top: 18px;
}
.cta-mobile__media {
  bottom: 0;
  position: absolute;
}
.cta-mobile__img {
  width: 284px;
  height: 522px;
}
.cta-mobile__app-store {
  display: flex;
  margin-top: 38px;
  gap: 28px;
}
/* ------------------------- BLOG ------------------------- */
.blog-row {
}
.blog__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.blog__all {
  color: #10375c;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
}
.blog__all:hover {
  text-decoration-line: underline;
}
.blog__control {
  justify-content: start;
}
.blog-list {
  display: flex;
  gap: 30px;
}
.blog-item {
  border-radius: 12px;
  border: 1px solid #e8ebee;
}
.blog-info {
  width: 270px;
  padding: 18px 22px 21px;
}
.blog-item__thumb {
  object-fit: cover;
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0 0;
}
.blog-item__heading {
  color: #10375c;
  font-weight: 600;
  line-height: 1.625; /* 162.5% */
}
.blog-item__desc {
  color: #575f66;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}
.blog-item__more {
  margin-top: 12px;
}
/* ------------------------- CONTACT ------------------------- */
.contact__content {
  text-align: center;
  background: #f6fbff;
  padding: 100px 0;
}
.contact__desc::before {
  margin-bottom: 18px;
  content: "";
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
}
.contact__desc {
  margin-top: 18px;
  margin-bottom: 38px;
  width: 53%;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------------- FOOTER ------------------------- */
.footer {
  margin-top: 100px;
  background: #10375c;
  padding-top: 100px;
  padding-bottom: 42px;
  color: #fff;
}
.footer__top {
  display: grid;
  grid-auto-columns: minmax(134px, auto);
  grid-auto-flow: column;
  gap: 78px;
}
.footer-desc {
  color: #a9b3bb;
  font-family: "Open Sans";
  margin-top: 21px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.footer__link {
  display: block;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.footer__link:hover {
  opacity: 0.8;
}
.footer__heading + .footer__link {
  margin-top: 20px;
}
.footer__heading:nth-of-type(2) {
  margin-top: 28px;
}
.footer__link + .footer__link {
  margin-top: 10px;
}
.footer__social-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.social-link:hover {
  opacity: 0.8;
  transition: 1.5;
}
.footer-form {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}
.footer-input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  padding: 10px;
  background-color: transparent;
}
.footer-btn {
  position: relative;
  border-radius: 4px;
  background: #2e80ce;
  width: 108px;
  height: 46px;
  border: none;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.85; /* 185.714% */
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
}
.footer-btn__span {
  position: relative;
  color: #fff;
  z-index: 2;
  transition: 1s color linear;
}
.footer-btn:hover .footer-btn__span {
  color: #10375c;
}
.footer-btn::after {
  content: "";
  height: 100%;
  position: absolute;
  background-color: #fff;
  width: 0;
  bottom: 0;
  transition: 0.4s width linear;
  right: 0;
  z-index: 1;
}

.footer-btn:hover::after {
  left: 0;
  width: 100%;
}
.copyright::before {
  content: "";
  margin: 28px 0;
  display: block;
  background: #406181;
  width: 1170px;
  height: 1px;
}
.copyright {
  text-align: center;
  color: #aab3ba;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
